
#youth {
	--color-text: #000;
	--color-text-alt: #c0c0c0;
	--color-bg: #fff;
	--color-link: #c0c0c0;
	--color-link-hover: #000;
	--color-link-alt:var(--color-main);
	--color-link-toc: #878787;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}



.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}



/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.slide__number {
	display: none;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}

	body {
		overflow: hidden;
	}


	.slideshow {
		box-sizing: border-box;
		width: 100vw;
		height: 100vh;
		position: relative;
	}

	.slideshow__indicator {
		width: 10px;
		background:var(--color-main);
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		z-index: 100;
		transform-origin: 0% 50%;
		z-index: 6000;
	}

	.slideshow__indicator:last-child {
		left: auto;
		right: 0;
		transform-origin: 100% 50%;
	}

	.slide {
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		padding: 4vh calc(3vw + 20px);
		--gridwidth: 100%;
		--gridheight: 100%;
		width: var(--gridwidth);
		height: var(--gridheight);
		background-color: #fff;
	}

	.slide--current {
		box-sizing: border-box;
		pointer-events: auto;
		z-index: 100;
	}

	.slide__deco {
		box-sizing: border-box;
		position: absolute;
		font-size: 10vw;
		font-weight: bold;
		line-height: 1;
		overflow: hidden;
		perspective: 1000px;
		will-change: transform;
	}

	.slide__deco-inner {
		box-sizing: border-box;
		position: relative;
		display: block;
		will-change: transform;
		transform: rotate3d(0, 1, 0, 0.1deg);
	}

	.slide__deco--2 .slide__deco-inner {
		left: -50%;
	}

	.slide__deco--3 .slide__deco-inner {
		right: -50%;
	}

	.slide__deco--1 {
		bottom: 10vh;
		left: -2.65vw;
	}

	.slide__deco--2 {
		left: 50%;
		top: 7vh;
		font-size: 17vw;
	}

	.slide__deco--3 {
		right: 0;
		bottom: 10vh;
		font-size: 17vw;
	}

	.slide__number {
		display: block;
		position: absolute;
		bottom: 1rem;
	}

	.slide__number--left {
		left: calc(1rem + 10px);
	}

	.slide__number--right {
		right: calc(1rem + 10px);
	}

	.revealer {
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		top: 0;
		left: 0;
		display: flex;
		z-index: 5000;
	}

	.revealer__item {
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}

	.revealer__item--left {
		border-right: 1px solid #f0f0f0;
	}

	.revealer__item-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translate3d(100%, 0, 0);
	}

	.nav {
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: 1rem;
		left: calc(1rem + 10px);
		z-index: 4000;
	}

	.nav__button {
		box-sizing: border-box;
		border: 0;
		margin: 0 1rem 0.5rem 0;
		padding: 0;
		line-height: 1;
		background: none;
		color: var(--color-link-alt);
	}

	.nav__button:focus {
		outline: none;
	}

	.nav__button:hover {
		color: var(--color-link-hover);
	}

	.nav__button-text {
		position: relative;
		padding-right: 0.75rem;
		display: block;
	}

	.nav__button-text::after,
	.nav__button-text::before {
		content: '';
		position: absolute;
		height: 1px;
		top: 50%;
		width: 7px;
		right: 0;
		background: currentColor;
	}

	.nav__button-text::after {
		transition: opacity 0.2s, transform 0.2s;
	}

	.nav--open .nav__button-text::after {
		transform: rotate(90deg);
		opacity: 0;
	}

	.nav__button-text::before {
		transform: rotate(90deg);
		transition: transform 0.2s;
	}

	.nav--open .nav__button-text::before {
		transform: rotate(0deg);
	}

	.toc__item {
		pointer-events: none;
		opacity: 0;
		display: block;
		margin: 0.35rem 0;
		opacity: 0;
	}

	.nav--open .toc__item {
		pointer-events: auto;
	}

	.toc__item-page {
		display: inline-block;
		width: 1.5rem;
		pointer-events: none;
		color: var(--color-text-alt);
	}

	.toc__item-title {
		pointer-events: none;
		color: var(--color-link-toc);
	}

	.toc__item:hover .toc__item-title,
	.toc__item--current .toc__item-title {
		color: var(--color-link-hover);
	}

	.arrow-nav {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 4000;
		padding: 1.25rem;
	}

	.arrow-nav__item {
		pointer-events: auto;
		border: 0;
		padding: 0;
		margin: 0;
		background: none;
		color: var(--color-link-alt);
	}

	.arrow-nav__item:hover {
		color: var(--color-link-hover);
	}

	.arrow-nav__item--prev {
		visibility: hidden;
	}

	.arrow-nav__item--prev .icon {
		transform: rotate(180deg);
	}

	.icon--nav {
		pointer-events: none;
		transition: transform 0.2s;
	}

	.arrow-nav__item--next:hover .icon--nav {
		transform: translate3d(-2px, 0, 0);
	}

	.arrow-nav__item--prev:hover .icon--nav {
		transform: rotate(180deg) translate3d(-2px, 0, 0);
	}

	.nav__chapter {
		font-size: inherit;
		font-weight: normal;
		margin: 0;
		display: inline-block;
		line-height: 1;
	}
}